<%= form_with(model: quest, local: true) do |form| %>
  <% if quest.errors.any? %>
    
      <p><%= pluralize(quest.errors.count, "error") %> prohibited this quest from being saved:</p>

      
      <% quest.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
