<h1>Main#index</h1>

<p></p>
<p>This page will hold a demo video and about us info- essentially, a marketing landing page for our app</p>

<%= link_to 'Create an Account', new_user_path %> |
<%= link_to 'Login', new_session_path %>

<!-- How can we add a link to edit the user's profile if a user is logged in but not show that link if no one is logged in? -->
