<h4>Main#index</h4>

<p></p>
<p>This page will hold a demo video and about us info- essentially, a marketing landing page for our app</p>

<%= link_to 'Create an Account', new_user_path %> |
<%= link_to 'Login', new_session_path %>
