
  <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <%= image_tag ('ropes_course.jpg')%> <!-- random image -->
        <div class="caption right-align">
          <h3 class="black-text">Change Your Definition of FUN!</h3>
          <h5 class="light grey-text text-lighten-3">Start a Quest Today!</h5>
        </div>
      </li>
      <li>
        <%= image_tag ('group_selfie_cover.jpg')%> <!-- random image -->
        <div class="caption left-align">
          <h3>Create Exciting Memories!</h3>
          <h5 class="light grey-text text-lighten-3">Start a Quest Today!</h5>
        </div>
      </li>
      <li>
        <%= image_tag ('amazing_families_collage.png')%> <!-- random image -->
        <div class="caption center-align">
          <h3>Fun for the Whole Family!</h3>
          <h5 class="light grey-text text-lighten-3">It's Easy to Get Started!</h5>
        </div>
      </li>
      <li>
        <%= image_tag ('amazing_collage.png')%> <!-- random image -->
        <div class="caption center-align">
          <h3>Amazing Quests Build Stronger Teams!</h3>
          <h5 class="light grey-text text-lighten-3">Create a Quest Today!</h5>
        </div>
      </li>
    </ul>
  </div>
