<div class="container">
<p id="notice"><%= notice %></p>

<h1>Welcome to Amazing Quest!</h1>

<%= link_to 'Create a Quest', new_quest_path, class:'btn waves-effect indigo' %>

<%= link_to 'View Quests', quests_path, class:'btn waves-effect indigo' %>
</div>