<p id="notice"><%= notice %></p>

<h1>Welcome to Amazing Quest!</h1>

<%= link_to 'New Quest', new_quest_path %>


<%= link_to 'Log Out',  logout_path, method: "delete" %> 

<%= link_to 'Join a Quest', quests_path %>

