/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*body{
	background-color: lightgray;
}*/

/* SHANNAN COMMENT: I can't get the background image to fill the entire screen There are multiple options for the background image-
I'm adding a few to easily switch them out I was going for color with the backgrounds but I can't tell which is the best option.
Can we set the background image for transparency or add a div around the text boxes that is semi-transparent so you can read the text
boxes and not get frustrated? I couldn't figure out how to do it.*/

html {
  /*background: url(aq1_footprints2.png) no-repeat center center fixed;*/
  /*background: url(aq1_orange_background.png) no-repeat center center fixed;*/
  background: url(aq1_orange_lines_background.png) no-repeat center center fixed;
  /*background: url(skateboarding_quest.jpg) no-repeat center center fixed;*/
  /*background: url(birthday_candles.jpg) no-repeat center center fixed;*/
  /*background: url(priscilla-du-preez-149914.jpg) no-repeat center center fixed;*/
  background-size: cover;
}

/*SHANNAN COMMENT: This is for the footer, which is not sticking to the bottom right now so I've commented it out*/
/*.page-footer {
  background-color: #3f51b5;
  clear: both;
}*/

/*SHANNAN COMMENT: I was hoping to use parallax, but it didn't work yet*/
/*.parallax-container {
		 height: 300px;
	 }*/

td, th {
	padding: 15px 5px;
  }

body{
	/*font-family: Roboto;*/
  font-family: 'Overlock', cursive;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


/*.picker__date-display {
	background-color: gray;
}
.picker__weekday-display {
	background-color: #000000;
}*/
.slider{
	overflow: hidden;
	z-index: -1;
}

.mobile-text{
	color:black;
	padding: 0 32px;
}

/*.container {
  background-color: #fff3e0;
}*/

.input-field label {
  color: #3f51b5;
}

input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #3f51b5;
	box-shadow: 0 1px 0 0 #7986cb;
}

input[type=email]:focus:not([readonly]) {
	border-bottom: 1px solid #3f51b5;
	box-shadow: 0 1px 0 0 #7986cb;
}

input[type=password]:focus:not([readonly]) {
	border-bottom: 1px solid #3f51b5;
	box-shadow: 0 1px 0 0 #7986cb;
}

.btn:hover {
  background-color: #7986cb !important;
}
