.quest {
  display: none;
}

.active {
  display: block;
}
.initial_box{
	/*height:300px;*/
	padding-top: 10px;
	margin: auto;
	width: 90%;
	text-align: center;
}
.modal-content-right{
	display: none;
}
.modal-content-wrong{
	display: none;
}
.modal-footer-right{
	display: none;
}
.card{
	min-height: 400px;
}
.show_img{
	display: block;
}
.coyo{
	display: none;
}
.btn-large{
	display: block;
}

.skip-task{
	margin-top: 100px;
}

.message {
  display: none;
  text-align: center;
}

.clue {
  display: none;
}

.help {
  display: none;
}

.home1234 {
  display: none;
}

.dropdown-content li>a {
  color: #3f51b5;
}

.picker__date-display {
  background-color: #3f51b5;
}

.picker__weekday-display {
  background-color: #3f51b5;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #3f51b5;
}

.picker__nav--prev:hover, .picker__nav--next:hover {
  background: #7986cb;
}

.picker__close, .picker__today {
  color: #3f51b5;

}

.btn-flat picker__today {
  color: #3f51b5;
}

.tabs .indicator {
  background-color: #7986cb;
}

input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #3f51b5;
	box-shadow: 0 1px 0 0 #7986cb;
}

input[type=time]:focus:not([readonly]) {
	border-bottom: 1px solid #3f51b5;
	box-shadow: 0 1px 0 0 #7986cb;
}

.tabs .tab a {
  color: #7986cb;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #3f51b5;
}

.collection a.collection-item {
  color: white;
}

label {
  color: #3f51b5;
}
